@import 'variables';

.button {
    color: $dark-blue;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 100px;
    padding: 1rem 3rem;
    background-color: $green;
    border: 0;
    cursor: pointer;
}