$purple: #5B3ADF;
$blue: #6777EA;
$blue-02: #3034BA;
$green: #21C997;
$dark-blue: #151C3C;
$gray-light: #F5F6F8;
$gray-02: #CED4DA;
$gray-03: #4D545B;

$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$card-border: .8rem;